/* checkout */

/*  icon đăng nhập*/
.fa-user-circle-o:before {
    content: ""
}

body {
    color: #737373;
    background: #fff;
    font-size: 14px;
    font-family: Helvetica Neue, sans-serif;
    line-height: 1.42857143em;
    overflow-wrap: break-word;
    overflow-x: hidden;
    word-wrap: break-word;
    word-break: break-word;
    padding: 0;
    margin: 0
}

/* chữ đăng nhập */
a,
.icon-print {
    color: #2a9dcc;
    text-decoration: none;
    cursor: pointer
}

a:hover,
.icon-print:hover {
    color: #2a6395
}

.field__input,
.input-checkbox,
.input-radio,
button,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-font-smoothing: inherit;
    border: none;
    background: transparent;
    line-height: normal
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 1em;
    width: 100%;
    margin: 0
}


.layout-flex {
    display: flex;
    align-items: baseline
}

.layout-flex--wrap {
    flex-wrap: wrap
}

.layout-flex__item--stretch {
    flex: 1 1 auto
}

.layout-flex--row-reverse {
    flex-direction: row-reverse
}

.btn {
    cursor: pointer;
    display: inline-block;
    background-color: #357ebd;
    border-color: #2f71a9;
    background-clip: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px transparent solid;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    padding: .98em 1.7em;
    text-align: center;
    position: relative
}

.btn--large {
    font-size: 1.1rem
}

.btn--disabled {
    opacity: .6
}

.btn:hover {
    background-color: #2a6395;
    border-color: #225179;
    color: #fff
}

@media(min-width: 1000px) {
    .btn-complete-order {
        min-width: 20em
    }
}

.hide {
    display: none !important
}

html,
body {
    width: 100%
}

body,
.content,
.content .wrap,
.main,
.main__content,
.step,
.content>form {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column
}

.content {
    overflow: hidden
}

.content .wrap {
    flex-direction: column-reverse
}


@media(min-width: 1000px) {
    .main {
        width: 52%;
        padding: 2em 2em 0 2em
    }

}

.wrap {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 0 1em;
    font-size: 14px;
    max-width: 40em;
    margin: 0 auto
}


@media(min-width: 768px) {
    .wrap--mobile-fluid {
        max-width: 50em
    }
}

@media(min-width: 1000px) {
    .wrap {
        padding: 0 2em;
        max-width: 95em
    }

    .multistep .wrap {
        box-sizing: content-box;
        max-width: 78.5em;
        width: 85%;
        padding: 0 5%
    }

    .wrap--mobile-fluid .main__footer {
        padding-left: 0;
        padding-right: 0
    }
}

.banner {
    padding: 1.5em 0;
    text-align: center
}

.col {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding-top: 2em
}

.col--half {
    width: 100%;
    text-align: center
}

.col--secondary {
    float: right
}

@media(min-width: 768px) {
    .col--md-two {
        padding-top: 0;
        width: 50%
    }
}

.row:first-child>.col:first-child {
    padding-top: 0
}

.row::after {
    content: "";
    display: table;
    clear: both
}

@media(min-width: 1000px) {
    .banner {
        display: none
    }

    .order-summary-toggle {
        display: none
    }

    .content .wrap {
        flex-direction: row
    }

    .row {
        margin-left: -10px;
        margin-right: -10px
    }

    .col {
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 0
    }

    .col--half {
        width: 50%
    }

    .col--two {
        width: 50%
    }

    .col--primary {
        width: 60%
    }

    .col--secondary {
        width: 40%
    }
}


.field {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding: .4em
}

.main .field--disabled .field__input,
.field--disabled .field__input {
    background: #ddd;
    cursor: not-allowed
}

.main .field {
    padding: .4em
}

.field-group {
    width: 100%
}

@media(min-width: 1000px) {
    .field-group {
        display: flex
    }

    .field-group>.field {
        flex: 1
    }
}

.fieldset {
    margin: -.4em
}

.fieldset::before,
.fieldset::after {
    content: "";
    display: table
}

.fieldset::after {
    clear: both
}

.fieldset--inline {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center
}

.fieldset--inline .btn {
    margin: .45em;
    width: 100%
}

@media(min-width: 1000px) {
    .fieldset--inline {
        flex-wrap: nowrap
    }

    .fieldset--inline .btn {
        width: auto
    }
}

.field__input-wrapper {
    position: relative
}

.field__input-wrapper--connected {
    display: flex
}

.field__input-wrapper--connected .field__input:first-of-type {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    z-index: 1
}

.floating-labels .field__input-wrapper--connected .field__label {
    z-index: 2
}

.field__label {
    text-align: left;
    margin: .5em 0;
    display: block
}

.field__input {
    border-radius: 4px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: .94em .8em;
    border: 1px #d9d9d9 solid;
    height: 44px;
    background-color: #fff;
    color: #333
}

textarea.field__input {
    height: auto;
    resize: vertical
}

.input-radio:focus,
.input-checkbox:focus,
.field__input:focus {
    outline: none;
    border-color: #66afe9;
    box-shadow: 0 0 0 1px #66afe9
}

.field__input--select {
    padding-right: 2em;
    white-space: nowrap
}

.field__caret {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    pointer-events: none;
    width: 2em;
    height: 43%;
    border-left: 1px rgba(179, 179, 179, .5) solid
}

.field__caret .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%)
}

.field--error .field__input {
    border-color: #c23527;
    box-shadow: 0 0 0 1px #c23527
}

.floating-labels .field__label {
    position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;
    margin-top: .4em;
    margin-left: 1px;
    padding: 0 .8em;
    color: #999;
    z-index: 1;
    user-select: none;
    pointer-events: none;
    font-size: 1em;
    transform: translateY(6px)
}

.floating-labels .field--show-floating-label .field__label {
    transform: none;
    font-size: .84em;
    padding-left: .9em
}

.floating-labels .field--show-floating-label .field__input {
    padding-top: 1.5em;
    padding-bottom: .35em
}

.animate-floating-labels .field__label {
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out
}

.field__message {
    line-height: 1.3em;
    margin: .5em .2em
}

.field__message.field__message--error {
    color: #c23527;
    display: none
}

.field__message--error.field__message--error-always-show {
    display: block
}

.field--error .field__message--error {
    display: block
}

.field__input-btn-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.field__input-btn-wrapper--vertical {
    align-items: stretch;
    flex-direction: column;
    text-align: center;
    margin: 1em 0
}

.field__input-btn-wrapper--vertical .btn-checkout {
    margin-bottom: 1em
}

.field__input-btn-wrapper--floating {
    justify-content: center
}

.sidebar__header {
    border-bottom: 1px solid #e1e1e1;
    padding-top: 20px;
    padding-bottom: 20px;
    display: none
}

.sidebar__footer {
    margin-top: 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.sidebar {
    color: #717171;
    position: relative;
    width: 100%
}

.sidebar--disabled {
    opacity: .7
}

.visually-hidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    width: 2px;
    height: 2px;
    margin: -2px;
    overflow: hidden;
    padding: 0;
    position: absolute
}

.sidebar::after {
    content: "";
    display: block;
    width: 300%;
    position: absolute;
    top: 0;
    left: -100%;
    bottom: 0;
    background: #fafafa;
    z-index: -1;
    box-shadow: 0 -1px 0 #e1e1e1 inset
}

.sidebar .field__input {
    border-color: #d5d5d5
}

@media(min-width: 1000px) {
    .sidebar__header {
        display: block
    }

    .sidebar {
        width: 32%
    }

    .multistep .sidebar {
        width: 45%
    }

    .sidebar__header,
    .sidebar__content {
        padding-left: 2em
    }

    .multistep .sidebar__header,
    .multistep .sidebar__content {
        padding-left: 10%
    }

    .sidebar::after {
        left: 0;
        background-position: left top;
        -webkit-box-shadow: 1px 0 0 #e1e1e1 inset;
        box-shadow: 1px 0 0 #e1e1e1 inset
    }
}


.product-table td,
.product-table th,
.stock-table td,
.stock-table th {
    padding-top: 0;
    padding-bottom: 0
}

.stock-table .stock-table__header th {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 1em
}

.stock-table tbody td,
.stock-table tbody th {
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #e6e6e6
}

.product-thumbnail {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    background: #fff;
    position: relative
}

.product-thumbnail__quantity {
    font-size: .78em;
    white-space: nowrap;
    padding: 0 .62em;
    border-radius: 2em;
    background-color: #2a9dcc;
    color: #fff;
    position: absolute;
    right: -.9em;
    top: -.55em;
    z-index: 3;
    box-sizing: border-box;
    min-width: 1.75em;
    height: 1.75em;
    text-align: center;
    line-height: 1.75em
}

@media(min-width: 1000px) {
    .hide-on-desktop {
        display: none !important
    }
}

@media(max-width: 999px) {
    .hide-on-mobile {
        display: none !important
    }
}

.product td {
    padding-top: 1em
}

.product__description {
    text-align: left;
    width: 100%
}

.product__price,
.product__quantity {
    white-space: nowrap
}

.total-line th,
.total-line td {
    padding-top: .75em
}

.total-line__price {
    padding-left: 1.5em;
    text-align: right;
    white-space: nowrap
}

.total-line-table__tbody+.total-line-table__footer .total-line:first-child th,
.total-line-table__tbody+.total-line-table__footer .total-line:first-child td {
    padding-top: 2em;
    position: relative
}

.sidebar .total-line-table__tbody+.total-line-table__footer .total-line:first-child th:before,
.sidebar .total-line-table__tbody+.total-line-table__footer .total-line:first-child td:before {
    background-color: rgba(175, 175, 175, .34);
    content: '';
    position: absolute;
    top: 1em;
    left: 0;
    width: 100%;
    height: 1px
}

@media(max-width: 999px) {
    .order-summary--is-collapsed .order-summary--collapse-element {
        height: 0;
        visibility: hidden;
        overflow: hidden;
        padding-top: 0;
        padding-bottom: 0
    }
}

.order-summary-toggle__total-recap {
    font-size: 1.12em;
    line-height: 1em;
    font-weight: 600;
    color: #2a9dcc
}

@media(min-width: 1000px) {
    .order-summary__sections {
        display: flex;
        flex-direction: column
    }

    .order-summary__section--is-scrollable {
        overflow-y: auto;
        max-height: calc(100vh - 480px)
    }
}


@media(min-width: 1000px) {
    nav {
        margin-top: 2em
    }
}

.content-box {
    border: 1px solid #cecdcd;
    background: #fff;
    background-clip: padding-box;
    border-radius: 5px;
    color: #545454
}

.content-box__row {
    display: table;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    padding: 1em
}

.content-box__row~.content-box__row {
    border-top: 1px solid #d9d9d9
}

.content-box__row:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px
}

.content-box__row__desc {
    background-color: #f8f8f8;
    padding: 1.14em;
    margin: 1.14em -1.14em -1.14em -1.14em;
    border-color: rgba(175, 175, 175, .34);
    border-style: solid;
    border-width: 0 1px
}

.content-box__row:last-child .content-box__row__desc {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-width: 1px
}

.select-address-wrapper select {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-width: 0;
    border-bottom-width: 1px
}

.select-address__header {
    color: #4e4e4e;
    font-weight: bold
}

.radio-wrapper:last-child {
    margin-bottom: 0
}

.radio-wrapper:after,
.radio-wrapper:before,
.checkbox-wrapper:after,
.checkbox-wrapper:before {
    content: "";
    display: table
}

.radio__input,
.checkbox__input {
    white-space: nowrap;
    padding-right: .75em
}

.radio__input,
.checkbox__input {
    display: table-cell
}

input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}

.input-checkbox,
.input-radio {
    width: 18px;
    height: 18px;
    -webkit-box-shadow: 0 0 0 0 #197bbd inset;
    box-shadow: 0 0 0 0 #197bbd inset;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    position: relative;
    cursor: pointer;
    vertical-align: -4px;
    border: 1px solid
}

.input-radio {
    border-radius: 50%
}

.input-checkbox {
    border-radius: 4px;
    position: relative
}

.input-radio:after {
    width: 4px;
    height: 4px;
    margin-left: -2px;
    margin-top: -2px;
    background-color: #fff;
    border-radius: 50%
}

.input-checkbox:after,
.input-radio:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: scale(.2);
    transform: scale(.2);
    -webkit-transition: all .2s ease-in-out .1s;
    transition: all .2s ease-in-out .1s;
    opacity: 0
}

.input-checkbox:checked:after,
.input-radio:checked:after {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1
}

.input-checkbox:after {
    content: '';
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    top: 2px;
    left: 2px;
    position: absolute;
    color: #fff
}

.main .input-checkbox,
.main .input-radio {
    border-color: #d9d9d9;
    background-color: #fff
}

.content-box .input-checkbox,
.content-box .input-radio {
    border-color: #d9d9d9;
    background-color: #fff
}

.input-checkbox:checked,
.input-radio:checked {
    border: none;
    -webkit-box-shadow: 0 0 0 10px #337ab7 inset;
    box-shadow: 0 0 0 10px #337ab7 inset
}

.input-checkbox:checked:focus,
.input-radio:checked:focus {
    outline: none
}

.radio__label,
.checkbox__label {
    cursor: pointer;
    vertical-align: middle;
    display: table-cell;
    width: 100%
}

.radio__label__primary {
    cursor: inherit;
    font-family: inherit;
    vertical-align: top;
    display: table-cell;
    width: 100%
}

.radio__label-desc {
    font-size: .85em;
    display: block
}

.radio__label__accessory {
    text-align: right;
    padding-left: .75em;
    white-space: nowrap;
    display: table-cell;
    vertical-align: middle
}

.radio__label__icon {
    color: #1990c6;
    font-size: 1.5em;
    height: 100%;
    display: inline-block
}

.radio__label__icon img {
    height: 100%;
    width: auto
}


.payment-icon {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 52px;
    height: 28px;
    transition: opacity .5s cubic-bezier(.3, 0, 0, 1);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    transform: translate(0, 0)
}

/* icon tiền */
.payment-icon--8::before,
.payment-icon--3::before,
.payment-icon--5::before,
.payment-icon--4::before {
    content: ""
}


/* nút đặt hàng */
.spinner-loader {
    height: 32px;
    width: 32px;
    display: none
}

.btn.spinner .spinner-loader {
    position: absolute
}